*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(219, 219, 219);
    font-family: "Montserrat", sans-serif;
}


/* centering the div of search bar */

.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.inputBar{
    display: flex;
    width: 100vh;
    align-items: center;
    justify-content: center;
}

/* iframe div styling */
#iFrameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/* search bar customization */

#youtubeUrl {
    margin: 10px;
    width: 70%;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    border: 1px solid #3a0000;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
#youtubeUrl:focus {
    border-color: #e40000;
}

#youtubeUrl::placeholder{
    color: #000000;
}

button{
    margin: 10px;
    background-color: white;
    border: 1px solid #3a0000;
    font-weight: 500;
    padding: .4rem;
    transition: border-color 0.3s ease-in;
}

button:hover{
    border-color: #e40000;
    border-radius: 4px;
}